<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src = "http://tropicainnovations.weebly.com/uploads/3/6/0/1/3601755/published/1446058891.png?1715287931"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><img src = "http://tropicainnovations.weebly.com/uploads/3/6/0/1/3601755/published/1446058891.png?1715287931"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/splash">Current Conditions<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/currentconditions">Current Conditions<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/solarweather">Solar Weather<</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/winterweather.html">Winter Weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/printedmaps.html">Printed Maps</a>
            </li>
        </ul>
    </div>
</nav>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        .content {
            padding-top: 60px; /* Adjust based on navbar height */
        }
    </style>